{{ define "content"}}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="fa fa-money"></i>
      </span> Billing Period
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span><button class="btn btn-primary" onclick="newBillingPeriod()">New Billing Period</button></span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Billing Period</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Multiplier</th>
                  <th>Due Date</th>
                </tr>
              </thead>
              <tbody>
                {{ range .BillingPeriods }}
                <tr>
                  <td>{{ .Month }}</td>
                  <td>{{ .Year }}</td>
                  <td>{{ .Multiplier }}</td>
                  <td>{{ .DueDate }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newBillingPeriodModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Billing Period</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label for="month">Month</label>
            <select name="month" id="month" class="form-control">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="form-group">
            <label for="address">Year</label>
            <input type="number" name="year" id="year" class="form-control" min="2000" max="2999" value="2000">
          </div>
          <div class="form-group">
            <label for="address">Multiplier</label>
            <input type="number" name="multiplier" id="multiplier" class="form-control">
          </div>
          <div class="form-group">
            <label for="address">Due Date</label>
            <input type="date" name="due_date" id="due_date" class="form-control">
          </div>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveNewBillingPeriod()">Save changes</button>
        <button type="button" class="btn btn-secondary" onclick="closeBillingPeriodModal()">Close</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "script" }}
<script>
  function getCookie(name) {
    const cookies = document.cookie.split('; ');
    for (let cookie of cookies) {
      const [cookieName, cookieValue] = cookie.split('=');
      if (cookieName === name) {
        return decodeURIComponent(cookieValue);
      }
    }
    return null;
  }

  function newBillingPeriod() {
    $('#newBillingPeriodModal').modal('show');
  }

  function closeBillingPeriodModal() {
    $('#newBillingPeriodModal').modal('hide');
  }

  function saveNewBillingPeriod(){
    let formBody = new FormData();
    formBody.append("_month", $('#month').val())
    formBody.append("_year", $('#year').val())
    formBody.append("_multiplier", $('#multiplier').val())
    formBody.append("_due_date", $('#due_date').val())

    fetch('/uadmin/api/d/billingperiod/', {
      method: "POST",
      headers: {
        "X-CSRF-TOKEN": getCookie('session')
      },
      body: formBody,
    }).then(resp => {
      return resp.json();
    }).then(resp => {
      $('#newBillingPeriodModal').modal('hide');
      Swal.fire({
        title: "New Billing Period",
        text: "New billing period saved!",
        icon: "success",
        timer: 2500,
        willClose: () => {
          window.location.reload();
        }
      });
    })
  }
</script>
{{ end }}