{{ define "content"}}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="fa fa-money"></i>
      </span> Billing Period
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span><button class="btn btn-primary" onclick="newBillingPeriod()">New Billing Period</button></span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Billing Period</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Multiplier</th>
                  <th>Due Date</th>
                </tr>
              </thead>
              <tbody>
                {{ range .BillingPeriods }}
                <tr>
                  <td>{{ .Month }}</td>
                  <td>{{ .Multiplier }}</td>
                  <td>{{ .DueDate }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "script" }}
<script>
  function getCookie(name) {
    const cookies = document.cookie.split('; ');
    for (let cookie of cookies) {
      const [cookieName, cookieValue] = cookie.split('=');

      if (cookieName === name) {
        return decodeURIComponent(cookieValue);
      }
    }
    return null;
  }

</script>
{{ end }}