{{ define "content"}}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="fa fa-users"></i>
      </span> Clients
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Clients</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Address</th>
                  <th>Landmark</th>
                  <th>Email Address</th>
                  <th>Contact Number</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>David</td>
                  <td>Grey</td>
                  <td>Address</td>
                  <td>Landmark</td>
                  <td>email@email.com</td>
                  <td>091234567</td>
                  <td><label class="badge badge-gradient-success">ACTIVE</label></td>
                </tr>
                <tr>
                  <td>Marina</td>
                  <td>Michel</td>
                  <td>Address</td>
                  <td>Landmark</td>
                  <td>email@email.com</td>
                  <td>091234567</td>
                  <td><label class="badge badge-gradient-danger">INACTIVE</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}