{{ define "content"}}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-home"></i>
      </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Devices</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Deployed</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    David Grey
                  </td>
                  <td> <label class="badge badge-gradient-info">ON STOCK</label> </td>
                  <td>
                    <label class="badge badge-gradient-success">ACTIVE</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    Marina Michel
                  </td>
                  <td> <label class="badge badge-gradient-success">DEPLOYED</label> </td>
                  <td>
                    <label class="badge badge-gradient-info">ON HOLD</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}