{{ define "content"}}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="fa fa-money"></i>
      </span> Readings
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Readings</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Device</th>
                  <th>Date</th>
                  <th>Beginning</th>
                  <th>Ending</th>
                  <th>Consumption</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Readings }}
                <tr>
                  <td>{{ .Device.SerialNumber }}</td>
                  <td>{{ .Month }}/{{ .Day }}/{{ .Year }}</td>
                  <td>{{ .Beginning }}</td>
                  <td>{{ .Ending }}</td>
                  <td>{{ .Consumption }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}